.hero {
  background-color: #f6f9fa;
  height: 85vh;
}
.hero-main-heading {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}
.hero-mainheading-1 {
  color: #0b1b35;
}
.hero-mainheading-2 {
  color: var(--primary-color);
}
.hero-subheading {
  font-size: 1.8rem;
  line-height: 1.4;
  font-width: 500;
  color: #474b4f;
}
.hero-button {
  font-size: 1.6rem;  
  font-weight: 600;
}
.hero-btn-book {
  border-radius: 1.4rem;
  background-color: #0f9e99;
  color: white;
  padding: 8px 12px;
}
.hero-btn-learnMore{
    border-radius: 1.4rem;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.178);
    padding: 8px 12px;
    color: var(--primary-color);
    background-color: white;
}
.lobby-image{
    /* border-top-left-radius: 18px; */
}